<div data-role="view" data-title="Home View" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">

    <div id="scanview"> 
		<a class="primary" data-role="button" data-bind="events: { click: scan }">scan</a>
  	</div>   
    
    <div id="productbybarcodeview" style="display:none;" >  
        <span data-bind="text: id"></span></br>
    	<span data-bind="text: name"></span></br>
		<span data-bind="text: desc_to_publish"></span></br>
		<a class="primary" data-role="button" data-bind="events: { click: backtoscan }">back</a>
	</div> 
<!--
	<div id="secondview" style="display:none;">  
        secondview 
		<a class="primary" data-role="button" data-bind="events: { click: backscan }">back</a>
	</div> 
    -->
</div>